<h1>Home</h1>

<h2>Counter</h2>

<div data-controller="counter">
  <h3 data-target="counter.display" type="text"></h3>

  <button data-action="click->counter#increase">
    +
  </button>
   | 
  <button data-action="click->counter#decrease">
    -
  </button>
</div>
